# Importing Libraries

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import model_selection

# Reading Data

In [2]:
data = pd.read_csv('./embedding1.csv')
data

,Category,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,ART_AND_DESIGN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ART_AND_DESIGN,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,ART_AND_DESIGN,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
3,ART_AND_DESIGN,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
4,ART_AND_DESIGN,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1967,GAME_WORD,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
1968,GAME_WORD,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1969,GAME_WORD,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1970,GAME_WORD,0,0,0,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,1,0
1971,GAME_WORD,0,0,0,0,0,0,0,0,1,...,0,0,1,0,1,0,1,0,1,0

In [4]:
# print(data.shape)
print(data["Category"].unique())
#print(data.groupby('Category').size())

['ART_AND_DESIGN' 'AUTO_AND_VEHICLES' 'BEAUTY' 'BOOKS_AND_REFERENCE'
 'BUSINESS' 'COMICS' 'COMMUNICATION' 'EDUCATION' 'ENTERTAINMENT' 'EVENTS'
 'FINANCE' 'FOOD_AND_DRINK' 'HEALTH_AND_FITNESS' 'HOUSE_AND_HOME'
 'LIFESTYLE' 'MAPS_AND_NAVIGATION' 'MUSIC_AND_AUDIO' 'NEWS_AND_MAGAZINES'
 'PARENTING' 'PERSONALIZATION' 'PHOTOGRAPHY' 'PRODUCTIVITY' 'SHOPPING'
 'SOCIAL' 'SPORTS' 'TOOLS' 'TRAVEL_AND_LOCAL' 'VIDEO_PLAYERS' 'WEATHER'
 'GAME_ACTION' 'GAME_ADVENTURE' 'GAME_ARCADE' 'GAME_BOARD' 'GAME_CARD'
 'GAME_CASUAL' 'GAME_EDUCATIONAL' 'GAME_MUSIC' 'GAME_PUZZLE' 'GAME_RACING'
 'GAME_ROLE_PLAYING' 'GAME_SIMULATION' 'GAME_SPORTS' 'GAME_STRATEGY'
 'GAME_WORD']

In [ ]:
# import seaborn as sns
# sns.countplot(data['Category'],label="Count")
# plt.show()

In [5]:
X = data.iloc[:,1:103].values
Y = data.iloc[:, 0].values

# Encoding Categorical Data

In [ ]:
#Y = pd.get_dummies(Y, columns = ['Category'])

# Train - Test Split

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)

In [ ]:
X_train

In [ ]:
X_test

In [ ]:
Y_train

In [ ]:
Y_test

# Feature Scaling

In [16]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)
# Model is giving better accuracy without feature scaling on some algorithms

# Principal Component Analysis

In [ ]:
# from sklearn.decomposition import PCA
# pca = PCA(n_components = 2)
# X_train = pca.fit_transform(X_train)
# X_test = pca.transform(X_test)
# Model is giving better accuracy without PCA

# Logistic Regression

In [26]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1.0, random_state = 0, max_iter=200) #Basically, a high C means "Trust this training data a lot", while a low value says "This data may not be fully representative of the real world data, so if it's telling you to make a parameter really large, don't listen to it".
logreg.fit(X_train, Y_train)
print('Accuracy of Logistic regression classifier on training set: {:.2f}'
     .format(logreg.score(X_train, Y_train)))
print('Accuracy of Logistic regression classifier on test set: {:.2f}'
     .format(logreg.score(X_test, Y_test)))

Accuracy of Logistic regression classifier on training set: 0.39
Accuracy of Logistic regression classifier on test set: 0.27

# KNN

In [27]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train, Y_train)
print('Accuracy of K-NN classifier on training set: {:.2f}'
     .format(knn.score(X_train, Y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}'
     .format(knn.score(X_test, Y_test)))

Accuracy of K-NN classifier on training set: 0.46
Accuracy of K-NN classifier on test set: 0.30

# SVM

In [28]:
from sklearn.svm import SVC
svm = SVC(kernel = "linear")
svm.fit(X_train, Y_train)
print('Accuracy of Linear SVM classifier on training set: {:.2f}'
     .format(svm.score(X_train, Y_train)))
print('Accuracy of Linear SVM classifier on test set: {:.2f}'
     .format(svm.score(X_test, Y_test)))
scores_res = model_selection.cross_val_score(svm, X, Y, cv=5)
print(scores_res)
print(scores_res.mean())

Accuracy of Linear SVM classifier on training set: 0.49
Accuracy of Linear SVM classifier on test set: 0.33
[0.30632911 0.34177215 0.35786802 0.4035533  0.34517766]
0.35094005011887164

In [29]:
from sklearn.svm import SVC
svm = SVC(kernel = "rbf")
svm.fit(X_train, Y_train)
print('Accuracy of Non Linear SVM classifier on training set: {:.2f}'
     .format(svm.score(X_train, Y_train)))
print('Accuracy of Non Linear SVM classifier on test set: {:.2f}'
     .format(svm.score(X_test, Y_test)))

Accuracy of Non Linear SVM classifier on training set: 0.50
Accuracy of Non Linear SVM classifier on test set: 0.32

# Naive Bayes

In [30]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, Y_train)
print('Accuracy of GNB classifier on training set: {:.2f}'
     .format(gnb.score(X_train, Y_train)))
print('Accuracy of GNB classifier on test set: {:.2f}'
     .format(gnb.score(X_test, Y_test)))

Accuracy of GNB classifier on training set: 0.16
Accuracy of GNB classifier on test set: 0.10

# Decision Tree Classifier

In [31]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier().fit(X_train, Y_train)
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, Y_train)))
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(X_test, Y_test)))

Accuracy of Decision Tree classifier on training set: 0.65
Accuracy of Decision Tree classifier on test set: 0.46

# Linear Discriminant Analysis

In [32]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()
lda.fit(X_train, Y_train)
print('Accuracy of LDA classifier on training set: {:.2f}'
     .format(lda.score(X_train, Y_train)))
print('Accuracy of LDA classifier on test set: {:.2f}'
     .format(lda.score(X_test, Y_test)))

Accuracy of LDA classifier on training set: 0.34
Accuracy of LDA classifier on test set: 0.23

# Random Forest

In [33]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
rf.fit(X_train, Y_train)
print('Accuracy of RF classifier on training set: {:.2f}'
     .format(rf.score(X_train, Y_train)))
print('Accuracy of RF classifier on test set: {:.2f}'
     .format(rf.score(X_test, Y_test)))

Accuracy of RF classifier on training set: 0.65
Accuracy of RF classifier on test set: 0.47