# Importing Libraries

In [22]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import model_selection

# Reading Data

In [23]:
data = pd.read_csv('./embedding3.csv')
data

,Category,1,2,3,4,5,6,7,8,9,...,Unnamed: 180,Unnamed: 181,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189
0,ART_AND_DESIGN,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ART_AND_DESIGN,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ART_AND_DESIGN,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ART_AND_DESIGN,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ART_AND_DESIGN,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1967,GAME_WORD,40,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1968,GAME_WORD,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969,GAME_WORD,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,GAME_WORD,0,0,0,0,0,0,0,0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,GAME_WORD,0,0,0,0,0,0,0,0,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# print(data.shape)
#print(data["Category"].unique())
#print(data.groupby('Category').size())

In [25]:
# import seaborn as sns
# sns.countplot(data['Category'],label="Count")
# plt.show()

In [26]:
X = data.iloc[:,1:103].values
Y = data.iloc[:, 0].values

# Encoding Categorical Data

In [27]:
#Y = pd.get_dummies(Y, columns = ['Category'])

# Train - Test Split

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)

In [29]:
# X_train

In [30]:
# X_test

In [31]:
# Y_train

In [32]:
# Y_test

# Feature Scaling

In [33]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)
# Model is giving better accuracy without feature scaling

# Principal Component Analysis

In [34]:
# from sklearn.decomposition import PCA
# pca = PCA(n_components = 2)
# X_train = pca.fit_transform(X_train)
# X_test = pca.transform(X_test)
# Model is giving better accuracy without PCA

# Logistic Regression

In [35]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1.0, random_state = 0, max_iter=200) #Basically, a high C means "Trust this training data a lot", while a low value says "This data may not be fully representative of the real world data, so if it's telling you to make a parameter really large, don't listen to it".
logreg.fit(X_train, Y_train)
print('Accuracy of Logistic regression classifier on training set: {:.2f}'
     .format(logreg.score(X_train, Y_train)))
print('Accuracy of Logistic regression classifier on test set: {:.2f}'
     .format(logreg.score(X_test, Y_test)))

Accuracy of Logistic regression classifier on training set: 0.49
Accuracy of Logistic regression classifier on test set: 0.32

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# KNN

In [36]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train, Y_train)
print('Accuracy of K-NN classifier on training set: {:.2f}'
     .format(knn.score(X_train, Y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}'
     .format(knn.score(X_test, Y_test)))

Accuracy of K-NN classifier on training set: 0.47
Accuracy of K-NN classifier on test set: 0.27

# SVM

In [37]:
from sklearn.svm import SVC
svm = SVC(kernel = "linear")
svm.fit(X_train, Y_train)
print('Accuracy of Linear SVM classifier on training set: {:.2f}'
     .format(svm.score(X_train, Y_train)))
print('Accuracy of Linear SVM classifier on test set: {:.2f}'
     .format(svm.score(X_test, Y_test)))
scores_res = model_selection.cross_val_score(svm, X, Y, cv=5)
print(scores_res)
print(scores_res.mean())

Accuracy of Linear SVM classifier on training set: 0.65
Accuracy of Linear SVM classifier on test set: 0.45
[0.4        0.46075949 0.49492386 0.56345178 0.49492386]
0.4828117972113346

In [38]:
from sklearn.svm import SVC
svm = SVC(kernel = "rbf")
svm.fit(X_train, Y_train)
print('Accuracy of Non Linear SVM classifier on training set: {:.2f}'
     .format(svm.score(X_train, Y_train)))
print('Accuracy of Non Linear SVM classifier on test set: {:.2f}'
     .format(svm.score(X_test, Y_test)))

Accuracy of Non Linear SVM classifier on training set: 0.42
Accuracy of Non Linear SVM classifier on test set: 0.30

# Naive Bayes

In [39]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, Y_train)
print('Accuracy of GNB classifier on training set: {:.2f}'
     .format(gnb.score(X_train, Y_train)))
print('Accuracy of GNB classifier on test set: {:.2f}'
     .format(gnb.score(X_test, Y_test)))

Accuracy of GNB classifier on training set: 0.19
Accuracy of GNB classifier on test set: 0.12

# Decision Tree Classifier

In [40]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier().fit(X_train, Y_train)
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, Y_train)))
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(X_test, Y_test)))

Accuracy of Decision Tree classifier on training set: 0.72
Accuracy of Decision Tree classifier on test set: 0.52

# Linear Discriminant Analysis

In [41]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()
lda.fit(X_train, Y_train)
print('Accuracy of LDA classifier on training set: {:.2f}'
     .format(lda.score(X_train, Y_train)))
print('Accuracy of LDA classifier on test set: {:.2f}'
     .format(lda.score(X_test, Y_test)))

Accuracy of LDA classifier on training set: 0.29
Accuracy of LDA classifier on test set: 0.20

# Random Forest

In [42]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
rf.fit(X_train, Y_train)
print('Accuracy of RF classifier on training set: {:.2f}'
     .format(rf.score(X_train, Y_train)))
print('Accuracy of RF classifier on test set: {:.2f}'
     .format(rf.score(X_test, Y_test)))

Accuracy of RF classifier on training set: 0.71
Accuracy of RF classifier on test set: 0.50